<!DOCTYPE html>
<html lang="en">
  <head>
    <!--====== Required meta tags ======-->
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!--====== Title ======-->
    <title>Create Account | MailWizz</title>

    <!--====== Favicon Icon ======-->
    <link
      rel="shortcut icon"
      href="../assets/images/favicon.svg"
      type="image/svg"
    />

    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css" />

    <!--====== Line Icons css ======-->
    <link rel="stylesheet" href="../assets/css/lineicons.css" />

    <!--====== Style css ======-->
    <link rel="stylesheet" href="../assets/css/stylesheet.css" />
    <link rel="stylesheet" href="../assets/scss/starter.css" />

    <link rel="stylesheet" href="../assets/scss/services/service-02.css" />

    <link rel="stylesheet" href="../assets/scss/tabs-accordions/tabs.css" />

    <link rel="stylesheet" href="../assets/scss/sign-in-up/sign-in-up-01.css" />
  </head>

  <body>
    <!--====== SIGNIN ONE PART START ======-->

    <section class="signin-area signin-one">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-5 my-4">
            <form action="/onboarding/connect" method="post">
              <div class="signin-form form-style-two rounded-buttons">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-input">
                      <label>Name Your ID</label>
                      <div class="input-items default">
                        <input
                          type="text"
                          placeholder="Name Your ID"
                          name="idName"
                        />
                        <i class="lni lni-key"></i>
                      </div>
                    </div>
                    <!-- form input -->
                  </div>
                  <div class="col-md-12">
                    <div class="form-input">
                      <label>Your Google Sheet ID</label>
                      <div class="input-items default">
                        <input
                          type="text"
                          placeholder="Your Google Sheet ID"
                          name="googleID"
                        />
                        <i class="lni lni-information"></i>
                      </div>
                    </div>
                    <!-- form input -->
                  </div>
                  <div class="col-md-12">
                    <div class="form-input rounded-buttons">
                      <button
                        class="btn primary-btn btn-rounded-full"
                        type="submit"
                      >
                        Save G-Sheet ID
                      </button>
                    </div>
                    <!-- form input -->
                  </div>
                </div>
              </div>
              <!-- signin form -->
            </form>
          </div>
        </div>
        

        <!-- row -->
      </div>
      <!-- container -->
    </section>

    <!--====== SIGNIN ONE PART ENDS ======-->

    <!--====== Bootstrap js ======-->
    <script src="../assets/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
  </body>
</html>
