<!DOCTYPE html>
<html lang="en">
  <head>
    <!--====== Required meta tags ======-->
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!--====== Title ======-->
    <title>Delete | MailWizz</title>

    <!--====== Favicon Icon ======-->
    <link
      rel="shortcut icon"
      href="../assets/images/favicon.svg"
      type="image/svg"
    />

    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css" />

    <!--====== Line Icons css ======-->
    <link rel="stylesheet" href="../assets/css/lineicons.css" />

    <!--====== Style css ======-->
    <link rel="stylesheet" href="../assets/css/stylesheet.css" />
    <link rel="stylesheet" href="../assets/scss/starter.css" />

    <link rel="stylesheet" href="../assets/scss/sign-in-up/sign-in-up-01.css" />
  </head>

  <body>
    <!--====== SIGNIN ONE PART START ======-->

    <section class="signin-area signin-one h-vh">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-5">
            <div class="signin-form form-style-two rounded-buttons">
              <div class="row">
                <div class="col-md-12">
                  <h2 class="text-center f-24">
                    If you delete the link will be gone forever.
                  </h2>
                  <p class="text-lg">Are you sure you want to proceed?</p>
                </div>

                <div class="col-md-12 my-4">
                  <div class="form-input rounded-buttons">
                    <a
                      type="button"
                      class="text-white bg-gradient-to-r from-red-500 via-red-600 to-red-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 shadow-md shadow-red-500/50 dark:shadow-md dark:shadow-red-800/80 font-medium rounded-lg text-sm px-2.5 py-2.5 text-center mr-2 mb-2"
                      href="/onboarding/delete/sheet/<%=id %>"
                    >
                      <i class="lni lni-trash-can"></i>
                      Delete
                    </a>
                  </div>
                  <!-- form input -->
                </div>
              </div>
            </div>
            <!-- signin form -->
          </div>
        </div>
        <!-- row -->
      </div>
      <!-- container -->
    </section>

    <!--====== SIGNIN ONE PART ENDS ======-->

    <script src="../assets/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
  </body>
</html>
